<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Titulo de la noticia" labelPlacement="floating" placeholder="Ingrese el titulo" [(ngModel)]="titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="texto de la noticia" labelPlacement="floating" placeholder="Ingresar texto" [(ngModel)]="texto"></ion-input>
  </ion-item>
  <ion-button color="success" (click)="crear()">Crear noticia</ion-button>
  <ion-button color="warning" [routerLink]="['/listar']">Ir pagina listar</ion-button>
</ion-content>
