<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Nombre Variable Storage" labelPlacement="floating" placeholder="Ingrese el nombre" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Valor Variable de Storage" labelPlacement="floating" placeholder="Ingrse valor" [(ngModel)]="valor"></ion-input>
  </ion-item>
  <ion-button color="success" (click)="crear()">Crear Variable</ion-button>
  <ion-button color="warning" [routerLink]="['/nueva']">Ir Página Nueva</ion-button>
</ion-content>